html, body {
    margin: 0;
    background-image: url('Background.jpg');
    background-size: cover;
    height: 100%;

}

/*-------------Barra de inicio---------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
}

li {
    float: left;
}

ul.main-bar li.submenu {
    float: right;
}

li a,
.submenu-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.sub-menu:hover .submenu-btn {
    background-color: rgb(16, 90, 119);
}

.submenu {
    display: inline-block;
}

.submenu-content {
    display: none;
    position: absolute;
    margin-left: -85px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.submenu-content a:hover {
    background-color: #f1f1f1;
}

.submenu:hover .submenu-content {
    display: block;
}

#helpbutton{
    cursor: pointer;
}

#helpbutton:hover{
    background-color: rgb(16, 90, 119);
}
/*-----------------------------------------------------------------------------*/
@media (min-width: 1000px){
    .Maintain-options{
        width: 50%;
        margin:auto;
    }
}
/*-------------Modulo de opciones---------------------------------------------*/
.headeroptions{
    display: flex;
    flex-wrap: wrap;
    
}

.display_opt {
    display: flex;
    width: 200px;
    height: 75px;
    margin: 20px 70px 0 20px;
    background: rgba(255, 255, 255, 0.1);
    border: rgb(39, 0, 148) groove 3px;
    border-radius: 15px;
}

.Overview {
    width: 0px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

#TOverview_icon{
    margin-left: 15px;
    width: 50px;
    cursor: pointer;
    background-color: rgba(0, 255, 17, 0.484);
}

#overview_label{
    opacity: 0;
    color: white; 
    margin-left: 8px;
    background-color: rgba(33, 37, 33, 0.6);
}

.Overview:hover #overview_label{
    opacity: 1;
}

.Report {
    display: inline-block;
    width: 0px;
    margin-top: 10px;
    margin-left: 85px;
}

#Report_icon{
    margin-left: 12px;
    cursor: pointer;
    background-color: rgba(251, 255, 0, 0.484);
}

#report-label{
    opacity: 0;
    color: white; 
    margin-left: 16px;
    background-color: rgba(33, 37, 33, 0.6);
}

.Report:hover #report-label {
    opacity: 1;
}

/*-------------------Informacion a consultar/consultada---------------------------------------*/
.PInformation {
    display:flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 310px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    border: rgb(39, 0, 148) groove 3px;
    border-radius: 15px;
}

/*----------------------------------------------------------*/
.Maintain-options{
    margin-left: 20px;
}

.InfMainTittle{
    text-align: left;
    margin-bottom: 40px;
}

.NewInfotypeSelection{
    display: flex;
    flex-wrap: wrap;
    column-gap:80px;
    row-gap:40px;
    
}

[class^="IT"]{
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

[id^="ICIT"]{
    position: absolute;
    opacity: 0;
    margin: 35px;
    cursor:pointer;
    transform: scale(3.5);
}

[id^="IconICIT"]{
    margin: 10px;
    background-color: rgb(40, 24, 122, 0.2);
    border-radius: 10px;
}

[id^="OPTITLB"]{
    display:none;
    width: 50px;
    text-align: center;
    color: white;
    margin-left: 15px;
    background-color: rgba(33, 37, 33, 0.6);
}

[class^="IT"]:hover [id^="OPTITLB"]{
    display: block;
    margin-top: -2px;
}

[class^="IT"]:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.DirectSearch{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------------------------------------------------------------------------------------------------------------*/
.NewPeriodSelection{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.period_selection {
    width: 300px;
    text-align: left;
    border-collapse: collapse;
    border: rgb(39, 0, 148) groove 3px;
    border-radius: 5px;
}

.period_selection th {
    border: rgb(39, 0, 148) groove 3px;
    border-radius: 5px;
    text-align: center;
}

.period_selection td {
    height: 27px;
}

/*---------------------------------------------------------------------------------------------------------------------*/

#report-section{
    display: none;
    margin-top: 30px;
    justify-content: center; 
    align-items: center; 
    place-items: center;
    height: 50vh;
    width: 60vh;
    z-index: 1; 
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    text-align: center;
}

.rep_options{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
#Ayeseri_Helper{
    background-color: rgb(255, 255, 255, 0.2);
    margin-left: 180px;
    margin-top: 20px;
    width: 500px;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.HelpMainbox{
    display:flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.HelpMainbox .contenido{
    flex:1;
    overflow-y: auto;
}

.errorinput{
    resize:none;
    min-height: 40px;
    max-height: 120px;
    width:75%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.User_comunication{
    background-color: rgb(255, 255, 255, 0.2);
    width: 460px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
}